log/
content/db.php
package-lock.json
access.log
error.log
.sass-cache/
.git/
wp/
.htaccess
db-sync
sql-dump-*.sql
.env
.env*
!.env.example
content/uploads
tiedostot
media
media/*
content/upgrade
content/plugins/*
!content/plugins/.gitkeep
content/mu-plugins/*
!content/mu-plugins/register-theme-directory.php
!content/mu-plugins/bedrock-autoloader.php
vendor/
vendor/*
!vendor/.gitkeep
node_modules/
.vagrant
config/deploy/
wp-cli.yml
*.codekit
createproject.todo
project.todo
content/w3-total-cache-config.php
content/w3-total-cache-config-preview.php
content/w3tc/objectcache/*
content/w3tc/min/*
!content/w3tc/min/.htaccess
!content/w3tc/min/index.php
content/w3tc/dbcache/*
!content/w3tc/dbcache/.htaccess
!content/w3tc/dbcache/index.php
content/w3tc/pgcache/*
